<h1>Your Trips</h1>
<hr />
<div class="container" style="padding: 50px;">
  <div class="trip-card-container" >
  <% pictures = ["image1.jpeg", "image2.jpeg", "image3.jpeg", "image4.jpeg", "image5.jpeg", "image6.jpeg", "image7.jpeg", "image8.jpeg", "image9.jpeg", "image10.jpeg"] %>
  <% @trips.each do |trip| %>
    <div class="ui card" style="margin: 20px">
      <div class="content">
        <div class="right floated meta">Start: <%= trip.start_date %></div>
          <%= image_tag "airplaneIcon.png", class: "ui avatar image" %>
          <%= link_to trip.name, trip %>
          <%= link_to image_tag("trashcan.png", alt: "x", class: "trashcan"), trip, method: :delete %>
        </div>
        <div class="image">
          <%= image_tag pictures.sample %>
        </div>
        <div class="content">
          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
          <i class="comment icon"></i>
          3 reviews
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Review...">
          </div>
        </div>
       </div>
      <% end %> 
    </div>
  </div>
</div>


