<h1><%= @trip.name %></h1>
<%= link_to 'New Location', new_trip_location_path(@trip) %>
<br />
<%= link_to 'Edit Trip', edit_trip_path(@trip) %> |
<%= link_to "Delete Trip", @trip, method: :delete %>
<hr />
<ul>
  <% @trip.locations.each do |location| %>
    <li>
      <%= link_to location.name, [@trip, location] %>
      <%= link_to "Delete", [@trip, location], method: :delete %>
    </li>
  <% end %>
</ul>