New Address
<%= form_with(model: [@location, @address], local: true, class: "form-horizontal") do |f| %>
  <br />
  <div class="form-group">
    <%= f.label :street %>
    <%= f.text_field :street, autofocus: true, required: true, placeholder: "Street" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, required: true, placeholder: "City" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, required: true, placeholder: "State" %>
  </div>
  <div class="form-group">
    <%= f.label :zip %>
    <%= f.text_field :zip, required: true, placeholder: "Zip Code" %>
  </div>
  Optional:
  <div class="form-group">
    <%= f.label :lat %>
    <%= f.text_field :lat, placeholder: "Latitude" %>
  </div>
  <div class="form-group">
    <%= f.label :long %>
    <%= f.text_field :long, placeholder: "Longitude" %>
  </div>
  <%= f.submit nil, class: "ui blue button" %>
<% end %>