<h2><%= @location.name %></h2>
  <%= link_to 'Edit Location', edit_trip_location_path(@trip) %> |
  <%= link_to 'Delete Location', [@trip, @location], method: :delete %>
<hr />
<div class="container">
  <% if @location.address %>
    <%= @location.name %>
    <br />
    Street: <%= @location.address.street %>
    <br />
    City: <%= @location.address.city %>
    <br />
    State: <%= @location.address.state %>
    <br />
    Zip: <%= @location.address.zip %> |
    <%= link_to 'Delete Address', [@location, @location.address], method: :delete  %>
  <% else%>
    <%= link_to 'New Address', new_location_address_path(@location) %>
  <% end %>
</div>