<div class="container">
  <% if @location.address %>
    <%= @location.name %>
    <%= @location.address.street %>
    <%= @location.address.city %>
    <%= @location.address.state %>
    <%= @location.address.zip %>
    <%= link_to 'Delete Address', [@location, @location.address], method: :delete  %>
  <% else%>
    <%= link_to 'New Address', new_location_address_path(@location) %>
  <% end %>
</div>